{% extends 'index.html' %}
{% load static %}

{% block head%}
    <title>КОРЗИНА</title>
     <link rel="stylesheet" href="{% static '1.css' %}">
    <script src="{% static '1.js' %}" defer></script>
{% endblock %}

{% block content %}
     <h2>КОРЗИНА</h2>
    <table>
        {% for one in tovar %}
            <tr>
                <td>{{ one.tovar.name }}</td>
                <td  class="td">
                    <a href="{% url 'count' -1 one.id %}">
                        <button class="knopka"> - </button>
                    </a>
                </td>
                 <td class="td">
                    <a href="{% url 'count' 1 one.id %}">
                        <button class="knopka"> + </button>
                    </a>
                </td>
                <td>{{ one.count }} шт</td>
                <td>{{ one.summa }} p</td>
                <td  class="td">
                    <a href="{% url 'delete' one.id %}">
                        <button class="knopka"> УДАЛИТЬ </button>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <h2>ИТОГО: {{ total }}</h2>
    <hr>
    <button id="formbut">Оформить</button>
    <div id="formdiv" hidden>
        <form action="" method="post" novalidate>
            {% csrf_token %}
            {{ formaorder }}
{#            {{  formaorder.errors}}#}
            <input type="submit" value="Отправить">
        </form>
    </div>
{% endblock %}
